<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- Azure Storage: vgblobstorage -->
        <add key="vgblobstorage_AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=vgblobstorage;AccountKey=fCpfEeHL9qlXPHWcCnEN3cBpJ7+7a1evKF3hKCSTpZpLnhzUvTidw6dlCwZzY94mYhMeOf5gjITOAusUjW3VMg=="/>
    </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="ServiceSoap1"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="ServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpsTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://tx-tango.tx-connect.com/IWS_ASMX/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="IWS.ServiceSoap" name="ServiceSoap"/>
            <endpoint address="https://tx-tango.tx-connect.com/IWS_ASMX/Service.asmx" binding="customBinding" bindingConfiguration="ServiceSoap12" contract="IWS.ServiceSoap" name="ServiceSoap12"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
